body {
  font-family: sans-serif;
}
core-header-panel {
  background: #fff;
/* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}
core-toolbar {
  background-color: #03a9f4;
}
p {
  margin: 20px;
  padding: 80px 20px;
  border-radius: 20px;
  background-color: #eee;
}
#sad-graphs paper-button.start-job {
  margin-left: 40%;
}
#sad-graphs paper-button.start-job.active {
  background-color: #03a9f4;
}

body {
  font-family: sans-serif;
}
core-header-panel {
  background: #fff;
/* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}
core-toolbar {
  background-color: #03a9f4;
}
p {
  margin: 20px;
  padding: 80px 20px;
  border-radius: 20px;
  background-color: #eee;
}
#sad-graphs paper-button.start-job {
  margin-left: 40%;
}
#sad-graphs paper-button.start-job.active {
  background-color: #03a9f4;
}
html,
body {
  height: 100%;
  margin: 0px;
  background-color: #e4e0e2;
}
.toolbar {
  width: toolbar-width;
  height: 100%;
  position: fixed;
  z-index: 5;
}
#main-surface {
  position: relative;
  left: toolbar-width;
  z-index: 1;
  width: 2000px;
  height: 2000px;
}
